[submodule "code/EmpErrAnalysis/eea/ext/openexr"]
	path = code/EmpErrAnalysis/eea/ext/openexr
	url = https://github.com/wjakob/openexr
[submodule "code/Analysis/ext/pcg32"]
	path = code/Analysis/ext/pcg32
	url = https://github.com/wjakob/pcg32
